/*************/
/* CSS Reset */
/*************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/***********************************************/
/* HTML5 display-role reset for older browsers */
/***********************************************/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    font-size: 62.5%;
    font-family: Roboto;
}

body {
    line-height: 1;
    font-size: 1.6rem; /* = 16px */
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

/*****************/
/* HTML Headings */
/*****************/

h1, h2, h3, h4, h5, h6, aside, .date {
    font-weight: bolder;
}

h1 {
    font-size: 3.6rem; /* = 36px */
    padding-bottom: 1rem;
}

h2 {
    font-size: 3.0rem; /* = 30px */
    padding-bottom: 3rem;
    line-height: 4rem;
}

h3 {
    padding-left: 3rem;
    font-size: 2.4rem; /* = 24px */
}

h4{
    font-size: 1.8rem; /* = 18px */
}

h5, h6 {
    font-size: 1.4rem; /* = 14px */
}

h5 {
    font-weight: normal;
    padding: 1rem 0 1rem 0;
}

/************/
/* Elements */
/************/

.underlined, a {
    text-decoration: none;
}

.row {
    display: flex;
}

#loisirs {
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}

hr {
    width: 100%;
    height: 0.2rem;
    border: none;
    margin-bottom: 3rem;
}

.fa-dot-circle, .fa-circle, .fa-graduation-cap, .fa-briefcase, .fa-pencil-alt {
    padding-right: 1rem;
}

.fa-stack {
    font-size: 2.5rem;
}


footer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-items: flex-end;
}

#bottom {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
}

/**********/
/* Colors */
/**********/

em, hr, .subsection, .fa-dot-circle, .fa-circle, .fa-graduation-cap, .fa-briefcase, .fa-pencil-alt {
    color: #4DB6AC;
}

aside, hr {
    background-color: #4DB6AC;
}

.underlined {
    border-bottom: 0.2rem solid #4DB6AC;
}

.fa-stack, .fa-stack > .fa-circle, a, a:visited {
    color: #404040;
}

a:hover {
    color: white;
}

.subsection {
    background-color: #404040;
}

/*******************************************************************/
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
/*******************************************************************/

@media (min-width:320px) { 

    body {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
    }
    
    img {
        width: 190px;
        height: 190px;
        margin: auto;
        padding: 3em;
        display: block;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }
    
    .subsection {
        display: block;
        text-align: center;
        padding: 1.2rem;
    }
    
    .text-subsection {
        padding: 2rem;
    }

    .text-subsection > p {
        padding: 0 0 1rem 0;
    }

    header {
        display: flex;
        padding-top: 2rem;
        align-items: center;
    }

    .row {
        flex-direction: column;
        padding-bottom: 0.5rem;
    }

    .date {
        display: flex;
    }

    h1 {
        padding-top: 2rem;
    }

    h3 {
        padding-left: 1rem;
    }

    p {
        padding: 0 0 1rem 1rem;
    }

    li {
        padding-bottom: 1rem;
    }

}

/********************************************************/
/* tablet, landscape iPad, lo-res laptops ands desktops */ 
/********************************************************/

@media (min-width:768px) { 

    body {
        margin: 0;
        padding: 0;
        flex-direction: row;
    }

    aside {
        max-width: 28rem;
        display: flex;
        flex-direction: column;
    }

    main {
        padding-left: 3rem;
    }
}

/************************************************/
/* big landscape tablets, laptops, and desktops */ 
/************************************************/

@media (min-width:991px) {

    body {
        margin: 0 auto;
    }

    main {
        max-width: 80rem;
    }

    .date {
        min-width: 50%;
        flex-direction: column;
    }

    .row {
        flex-direction: row;
    }

    #left {
        width: 50%;
    }

    .text-subsection {
        padding: 3rem;
    }
}