html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    font-size: 62.5%;
    font-family: Roboto;
}

body {
    line-height: 1;
    font-size: 1.6rem; /* = 16px */
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

h1, h2, h3, h4, h5, h6, aside, .date {
    font-weight: bolder;
}

h1 {
    font-size: 3.4rem; /* = 34px */
    padding-bottom: 1rem;
}

h2 {
    font-size: 2.5rem; /* = 25px */
    padding-bottom: 3rem;
}

h3 {
    padding-left: 3rem;
    font-size: 2.0rem; /* = 20px */
}

h4{
    font-size: 1.8rem; /* = 18px */
}

h5, h6 {
    font-size: 1.4rem; /* = 14px */
}

h5 {
    font-weight: normal;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#u {
    text-decoration: none;
    border-bottom: 0.2rem solid #feca07;
}

em {
    color: #feca07;
}

.row {
    display: flex;
}

.fa-dot-circle, .fa-circle, .fa-graduation-cap, .fa-briefcase, .fa-pencil-alt {
    color: #feca07;
    padding-right: 1rem;
}

.fa-stack > .fa-circle {
    color: #404040;
}

.fa-stack {
    color: #404040;
    font-size: 2.5rem;
}

hr {
    width: 100%;
    margin-bottom: 3rem;
    color: #feca07;
}

#loisirs {
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}

@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

    body {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
    }
    
    aside {
        background-color: #feca07;
    }
    
    img {
        width: 190px;
        height: 190px;
        margin: auto;
        padding: 3em;
        display: block;
        border-radius: 50%;
    }
    
    .subsection {
        display: block;
        text-align: center;
        color: #feca07;
        background-color: #404040;
        padding: 0.5em;
    }
    
    .text-subsection {
        padding: 2em;
    }

    header {
        display: flex;
        padding-top: 2rem;
        align-items: center;
    }

    .row {
        flex-direction: column;
        padding-bottom: 0.5rem;
    }

    .date {
        display: flex;
    }

    h1 {
        padding-top: 2rem;
    }

    p {
        padding-left: 1rem;
        padding-bottom: 1rem;
    }

    li {
        padding-bottom: 1rem;
    }

}

@media (min-width:768px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 

    body {
        margin: 0;
        padding: 0;
        flex-direction: row;
    }

    aside {
        max-width: 28rem;
    }

    main {
        padding-left: 3rem;
    }
}
@media (min-width:991px) { /* big landscape tablets, laptops, and desktops */ 

    body {
        margin: 0 auto;
    }

    main {
        max-width: 80rem;
    }

    .date {
        min-width: 50%;
        flex-direction: column;
    }

    .row {
        flex-direction: row;
    }

    #left {
        width: 50%;
    }

    

}
@media (min-width:1199px) { /* hi-res laptops and desktops */ 


}